html {width:100%}
body {font-family:Arial, Helvetica, sans-serif;font-size:100%;background:#DDDCDE}
a {color:#ED3E4F;}
a:hover {text-decoration:none}

/***** slider *****/

.slider-inner {padding-left:284px}
.slider {
	position:relative;
	float:right;
}
.items {display:none}




/***** header *****/

#headroom {
	width: 100%;
	height: 400px;
}

.menu li {
	float:left;
	position:relative;
	padding-right:2px;
	list-style-type:none;

}

.menu li a {
	display:block;
	line-height:2em;
	padding:6px 64px 8px 65px;
	color:#414061;
	text-transform:capitalize;
	letter-spacing:-1px;
	background:#EB2F58;
}


/***** content *****/

.wrapper {width:100%; overflow:hidden; position:relative}
.column-1 {width:326px; height:160px; margin-right:21px; border: solid; float: left}

.column-2 {width:326px; background-color: #F7F0F2;  float: right; border-bottom: 1px solid #aaa;}
.indent {padding:21px 0 20px}
#content {padding:10px 0 33px}
.box .padding {padding:18px 10px 0 30px}
img.med {height: 40; width: 40;}

img.small {}







